:root{
    --color-item-bg: #c4b492;
    --color-item-text: #000418;
    --color-item-border: #181818;

    --color-item-hover-bg: #ffc64b;
    --color-item-hover-text: #111111;
    --color-item-hover-border: #0f0f0f;
    
    --color-page-bg: #aaaaaa;
    --color-header-bg: #333333;
    --color-header-text: #dddddd;
    --color-horizontal-row: #333333;

    --color-baymap-border: #333333;

    --color-nav-bg: #fffd6f;
    --color-nav-text: #181818;
    --color-nav-border: #181818;
    --color-nav-bg-hover: #ffc64b;
    --color-nav-text-hover: #111111;
    --color-nav-border-hover: #0f0f0f;
    
    --color-bay-1-bg: #d18959;
    --color-bay-2-bg: #bea254;
    --color-bay-3-bg: #c6d163;
    --color-bay-4-bg: #c0c24e;
    --color-bay-5-bg: #9cbd4f;
    --color-bay-6-bg: #66b348;
    --color-bay-7-bg: #5ebb6e;
    --color-bay-8-bg: #5db87c;
    --color-bay-9-bg: #488667;
    --color-bay-10-bg: #51a194;
    --color-bay-11-bg: #4d8892;
    --color-bay-text: #111111;
    --color-bay-border: #7c7c7c;

    --color-shelf-bg: #333333;
    --color-shelf-text: #dddddd;
    --color-shelf-border: #222222;
    
    --color-subshelf-upper-bg: #a19f93;
    --color-subshelf-lower-bg: #867666;
    
    --color-unsure-bg: #963434;
    --color-unsure-text: #cccccc;
    --color-unsure-border: #490000;
    --color-misc-bg: #367a77;
    --color-misc-text: #cccccc;
    --color-misc-border: #00405e;
    --color-selected-bg: #2ea764;
    --color-selected-text: #001b07;
    --color-selected-border: #00250e;
}

body {
    background-color: var(--color-page-bg);
}

header {
    box-sizing: border-box;
    display: flex;
    height: 100px;
    width: 100%;
    padding: 3px 7px;

    position: sticky;
    top: 0px;

    background-color: var(--color-header-bg);
    color: var(--color-header-text);
}

header a {
    display: flex;
}

hr {
    border: none;
    border-top: 3px double var(--color-horizontal-row);
    color: var(--color-horizontal-row);
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr::after {
    /*background: darkgray;*/
    content: '~*~';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

em {
    font-style: italic;
}

.baymap {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    padding: 20px;
    border: 5px double var(--color-baymap-border);
    margin: 20px;
}

.baymap img {
    padding-right: 20px;
}

.baymap menu {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(10, 48px);
    grid-template-rows: repeat(7, 48px);
}

#bnb01 {
    grid-area: 6 / 1 / span 2 / span 1;
}

#bnb02 {
    grid-area: 4 / 1 / span 2 / span 1;
}

#bnb03 {
    grid-area: 2 / 1 / span 2 / span 1;
}

#bnb04 {
    grid-area: 1 / 2 / span 1 / span 2;
}

#bnb05 {
    grid-area: 1 / 4 / span 1 / span 2;
}

#bnb06 {
    grid-area: 1 / 6 / span 1 / span 2;
}

#bnb07 {
    grid-area: 1 / 8 / span 1 / span 2;
}

#bnb08 {
    grid-area: 2 / 10 / span 2 / span 1;
}

#bnb09 {
    grid-area: 4 / 10 / span 2 / span 1;
}

#bnb10 {
    grid-area: 6 / 3 / span 2 / span 1;
}

#bnb11 {
    grid-area: 4 / 3 / span 2 / span 1;
}

a.baynavbutton {
    padding: 5px;
    border: 1px solid var(--color-nav-border);
    border-radius: 3px;
    color: var(--color-nav-text);
    background-color: var(--color-nav-bg);
    text-decoration: none;
    transition: all 0.1s ease;
}

a.baynavbutton:visited {
    color: inherit;
}

a.baynavbutton:hover {
    border: 1px solid var(--color-nav-border-hover);
    color: var(--color-nav-text-hover);
    background-color: var(--color-nav-bg-hover);
}

.key {
    box-sizing: border-box;
}

.key h1 {
    padding-left: 20px;
    font-size: 2rem;
    font-weight: 500;

}

.key p {
    padding: 10px;
}

.bay {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /*border-bottom: 7px;*/
    border-color: var(--color-bay-border) !important;
    border: 7px;
    border-style:outset;
}

.bayinfo {
    color: inherit;
    padding: 0.5rem;
    border: double 3px;
    border-color: inherit;
}

.bayinfo h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 1rem;
}

.bayinfo p {
    font-size: 16px;
}

#bay01 {
    background-color: var(--color-bay-1-bg);
    color: var(--color-bay-text);
}

#bay02 {
    background-color:var(--color-bay-2-bg);
    color: var(--color-bay-text);
}

#bay03 {
    background-color:var(--color-bay-3-bg);
    color: var(--color-bay-text);
}

#bay04 {
    background-color:var(--color-bay-4-bg);
    color: var(--color-bay-text);
}

#bay05 {
    background-color:var(--color-bay-5-bg);
    color: var(--color-bay-text);
}

#bay06 {
    background-color:var(--color-bay-6-bg);
    color: var(--color-bay-text);
}

#bay07 {
    background-color:var(--color-bay-7-bg);
    color: var(--color-bay-text);
}

#bay08 {
    background-color:var(--color-bay-8-bg);
    color: var(--color-bay-text);
}

#bay09 {
    background-color:var(--color-bay-9-bg);
    color: var(--color-bay-text);
}

#bay10 {
    background-color:var(--color-bay-10-bg);
    color: var(--color-bay-text);
}

#bay11 {
    background-color:var(--color-bay-11-bg);
    color: var(--color-bay-text);
}

.shelf_holder {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 7px;
}

#shelf_holder11 {
    display: grid;
    grid-template-areas:
        "end a"
        "end b"
        "end c"
        "end d"
        "end e";
    grid-template-columns: 1fr 4fr;
}

#shelf_holder11 > #shelf11a {
    grid-area: a;
}

#shelf_holder11 > #shelf11b {
    grid-area: b;
}

#shelf_holder11 > #shelf11c {
    grid-area: c;
}

#shelf_holder11 > #shelf11d {
    grid-area: d;
}

#shelf_holder11 > #shelf11e {
    grid-area: e;
}

#shelf_holder11 > #shelf11end {
    grid-area: end;
    display: flex;
    flex-direction: row;
}

.shelf {
    background-color: var(--color-shelf-bg);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.shelf h1 {
    color: var(--color-shelf-text);
    font-weight: 700;
    box-sizing: border-box;
    padding: 0.5rem;
    border: double 3px;
    border-color: var(--color-shelf-border);
    height: 100%;
    align-content: center;
}

.container {
    color: var(--color-item-text);
    background-color: var(--color-item-bg);
    font-weight: 500;
    align-content: center;
    padding: 5px;
    border: solid 1px;
    border-color: var(--color-item-border);
    margin: 3px 2px;

    scroll-margin-top: 100px;

    transition: all 0.2s ease;
}

.container p {
    transition: all 0.2s ease;
}

.upper {
    background-color: var(--color-subshelf-upper-bg);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    grid-template-rows: repeat(4, 1fr);
}

.upper .container:hover {
    color: var(--color-item-hover-text);
    background-color: var(--color-item-hover-bg);
    border-color: var(--color-item-hover-border);
}

.lower {
    background-color: var(--color-subshelf-lower-bg);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    grid-template-rows: repeat(4, 1fr);
}

.lower .container:hover {
    color: var(--color-item-hover-text);
    background-color: var(--color-item-hover-bg);
    border-color: var(--color-item-hover-border);
}

.single {
    background-color: var(--color-subshelf-upper-bg);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(16, 1fr);
}

.single .container:hover {
    color: var(--color-item-hover-text);
    background-color: var(--color-item-hover-bg);
    border-color: var(--color-item-hover-border);
}

.unsure {
    color:var(--color-unsure-text) !important;
    background-color: var(--color-unsure-bg) !important;
    border-color: var(--color-unsure-border) !important;
}

.misc {
    color: var(--color-misc-text) !important;
    background-color: var(--color-misc-bg) !important;
    border-color: var(--color-misc-border) !important;
}

.selected {
    color:var(--color-selected-text);
    background-color: var(--color-selected-bg);
}

.hidden {
    font-size: 0px;
}

@media print {
    header, .baymap, .key {
        display: none;
    }

    #bay05, #bay06, #bay07, #bay08, #bay09 {
        display: none;
    }
    
    body, h1, p, .container, .upper, .lower, .single, .unsure, .misc, .selected, .shelf, .shelf_holder, .bay {
        color: black !important;
        background-color: white !important;
        font-family: serif;
        font-size: 10pt;

        padding: 1px;
        margin: 1px;
    }

    .bay {
        break-before: page;
        border: 0px;
    }

    .shelf {
        break-inside: avoid-page;
    }
}

@page {
    margin: 0px;
}